#class wudang open;

#var myname 查看status_me获取人名

#alias runfzg {run 复真观二层};

#alias getname {
    #class getname open;
    #action {^　姓名：　%%1%s　ＩＤ} {
        setname %%1;
    };
    #class getname close;
    status_me;
};

#alias setname {
    #var myname %1;
    #showme 角色名称：$myname;
    #class getname kill;
};

#alias wdquest {
    getname;
    #re bot/wudang/quest.tt;
    AQ;
};

#alias wdquestx {
    #class wdquest kill;
};

#class wudang close;

